mat-error{
  color: #ff0000;
}
.message {
  margin: 0;
  padding: 0;
}

.message p {
  margin: 0;
  padding: 0;
  line-height: 1.5;

}
.form-control-label{
  color: black;
}
.heading-small {
  color: black;
  font-weight: bold;
  font-size: medium;
}
