<div class="header pb-8 pt-5 pt-md-8" style="background-image:linear-gradient(to bottom, #E5E5EA, #F7F7F9);">




<div class="container-fluid">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Dates des visites :</h5>
                      <p class="card-text">
                          Date 1ére visite:
                          <span
                                  *ngIf="!editDate1; else dateSelector1"
                                  (dblclick)="editDate1 = true"
                                  id="date1v"
                                  tabindex="0"
                                  (blur)="editDate1 = false"
                          >
        {{ client?.premiereVisite.datePrVisite || 'No date set' }}
      </span>
                          <ng-template #dateSelector1>
                              <input
                                      *ngIf="editDate1 || client?.premiereVisite.datePrVisite === null; else displayDate1"
                                      type="date"
                                      [(ngModel)]="selectedDate1"
                                      (keyup.enter)="setDatePrvisite(clientId, selectedDate1)"
                                      (blur)="editDate1 = false"
                              />
                              <ng-template #displayDate1>
                                  <span>{{ client?.premiereVisite.datePrVisite }}</span>
                              </ng-template>
                          </ng-template>
                      </p>
                      <p class="card-text">
                          Date 2éme visite:
                          <span
                                  *ngIf="!editDate2; else dateSelector2"
                                  (dblclick)="editDate2 = true"
                                  id="date2v"
                                  tabindex="0"
                                  (blur)="editDate2 = false"
                          >
        {{ client?.deuxiemeVisite.dateDxVisite || 'No date set' }}
      </span>
                          <ng-template #dateSelector2>
                              <input
                                      *ngIf="editDate2 || client?.deuxiemeVisite.dateDxVisite === null; else displayDate2"
                                      type="date"
                                      [(ngModel)]="selectedDate2"
                                      (keyup.enter)="setDatedxvisite(clientId, selectedDate2)"
                                      (blur)="editDate2 = false"
                              />
                              <ng-template #displayDate2>
                                  <span>{{ client?.deuxiemeVisite.dateDxVisite }}</span>
                              </ng-template>
                          </ng-template>
                      </p>
                  </div>
              </div>
          </div>
      </div>
<div class="container-fluid">
      <div class="card">
      <div class="card-body">
        <h5 class="card-title">Information Client :</h5>
        <p class="card-text">ID: <span id="idClient">{{client?.idClient}}</span></p>
        <p class="card-text">Nom Entreprise: <span id="nomEntreprise">{{client?.nomEntreprise}}</span></p>
        <p class="card-text">Email: <span id="email">{{client?.email}}</span></p>
        <p class="card-text">Adresse: <span id="adresse">{{client?.adresse.codepostal}} {{client?.adresse.adresse}} {{client?.adresse.ville}} {{client?.adresse.gouvernerat}} {{client?.adresse.pays}}</span></p>
        <p class="card-text">Secteur d'activité de l'entreprise: <span id="domaine">{{client?.domaine}}</span></p>
        <p class="card-text">Matricule Fiscale: <span id="matriculeFiscale">{{client?.matriculeFiscale}}</span></p>
        <p class="card-text">Numéro de téléphone: <span id="numtel">{{client?.numtel}}</span></p>

      </div>
    </div>
  </div>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tableau de données des visites :</h5>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Situation</th>
                    <th scope="col">Promesse</th>
                    <th scope="col">KPI</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Placements</th>
                    <td>
                        <ng-container *ngIf="client && client.premiereVisite && client.premiereVisite.placements !== null; else inputField">
                            {{ client?.premiereVisite?.placements }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input />
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="client && client.deuxiemeVisite && client.deuxiemeVisite.placements !== null; else inputField">
                            {{ client?.deuxiemeVisite?.placements }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input  />
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="client && client.promesseClient && client.promesseClient.placements !== null; else inputField">
                            {{ client?.promesseClient?.placements }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input  />
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Chiffre d'affaire</th>
                    <td>
                        <ng-container *ngIf="client && client.premiereVisite && client.premiereVisite.chiffreAffaire !== null; else inputField">
                            {{ client?.premiereVisite?.chiffreAffaire }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input  />
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="client && client.deuxiemeVisite && client.deuxiemeVisite.chiffreAffaire !== null; else inputField">
                            {{ client?.deuxiemeVisite?.chiffreAffaire }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input  />
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="client && client.promesseClient && client.promesseClient.chiffreAffaire !== null; else inputField">
                            {{ client?.promesseClient?.chiffreAffaire }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input  />
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Impayés</th>
                    <td>
                        <ng-container *ngIf="client && client.premiereVisite && client.premiereVisite.impayes !== null; else inputField">
                            {{ client?.premiereVisite?.impayes }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input />
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="client && client.deuxiemeVisite && client.deuxiemeVisite.impayes !== null; else inputField">
                            {{ client?.deuxiemeVisite?.impayes }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input />
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="client && client.promesseClient && client.promesseClient.impayes !== null; else inputField">
                            {{ client?.promesseClient?.impayes }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input />
                        </ng-template>
                    </td>
                </tr>
                <tr class="bg-warning">
                    <th scope="row">Engagements</th>
                    <td>
                        <ng-container *ngIf="client && client.premiereVisite && client.premiereVisite.engagements !== null;  else inputField">
                            {{ client?.premiereVisite?.engagements }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input  />
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="client && client.deuxiemeVisite && client.deuxiemeVisite.engagements !== null;else inputField">
                            {{ client?.deuxiemeVisite?.engagements }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input  />
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="client && client.promesseClient && client.promesseClient.engagements !== null; else inputField">
                            {{ client?.promesseClient?.engagements }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input  />
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Debit</th>
                    <td>
                        <ng-container *ngIf="client && client.premiereVisite && client.premiereVisite.debit !== null; else inputField">
                            {{ client?.premiereVisite?.debit }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input  />
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="client && client.deuxiemeVisite && client.deuxiemeVisite.debit !== null; else inputField">
                            {{ client?.deuxiemeVisite?.debit }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input  />
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="client && client.promesseClient && client.promesseClient.debit !== null; else inputField">
                            {{ client?.promesseClient?.debit }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input  />
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Depot</th>
                    <td>
                        <ng-container *ngIf="client && client.premiereVisite && client.premiereVisite.depot !== null; else inputField">
                            {{ client?.premiereVisite?.depot }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input  />
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="client && client.deuxiemeVisite && client.deuxiemeVisite.depot !== null; else inputField">
                            {{ client?.deuxiemeVisite?.depot }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input  />
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="client && client.promesseClient && client.promesseClient.depot !== null; else inputField">
                            {{ client?.promesseClient?.depot }}DT
                        </ng-container>
                        <ng-template #inputField>
                            <input />
                        </ng-template>
                    </td>
                </tr>

                <tr>
                    <th scope="row"></th>
                    <td><button type="button" class="btn btn-primary" >Save Situation</button></td>
                    <td><button type="button" class="btn btn-primary" >Save Promesse</button></td>
                    <td><button type="button" class="btn btn-primary" >Save KPI</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


